<script src="{{ root_url }}/javascripts/slash.js"></script>
{% include disqus.html %}
{% include facebook_like.html %}
{% include google_plus_one.html %}
{% include twitter_sharing.html %}
{% include custom/after_footer.html %}

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4740384c684ed9c68a0f79f280d7d623' type='text/javascript'%3E%3C/script%3E"));
</script>
